html body {
	background-color: #f6f6f6;
}

html,
html *,
html ::after,
html ::before {
    box-sizing: content-box;
}

html .mw-body *,
html .mw-body ::after,
html .mw-body ::before {
    box-sizing: border-box;
}

html a {
    color: #0645ad;
}

html a:hover {
    color: #0b0080;
}
