html body {
	background-color: #f6f6f6;
}

html {
    box-sizing: content-box !important;
}

.mw-body {
    box-sizing: border-box;
}

html a {
    color: #0645ad;
}

html a:hover {
    color: #0b0080;
}